
/* Start Global Rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  
 
  
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Smole */
  
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }

  }
  
  /* Mediume */
  
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  
  /* Large */
  
  @media (min-width: 1200) {
    .container {
      width: 1170px;
    }
  }
  
  /* End Global Rules */

.container {
    min-height: 100vh;
    width: 100%;
    background-color: #000;
    font-family: "Work Sans", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.logo img {
    width: 40px;
}

ul li {
   display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #fff;
   margin-left: 2.1rem;
   transition: .5s;
}

ul li a:hover {
   background-color: #fff;
   color: #000;
}
@media (min-width: 500px) {
    ul li a {
        margin-right: .7rem;
    }
}

/* content */

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 2rem;
    position: relative;
}

.text {
    color: #fff;
    width: 40%;
}

.text h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.text p {
    font-size: 18px;
    margin: 20px 0;;
}

.btn {
    text-decoration: none;
    color: fff;
    padding: 8px 15px;
    border-radius: 40px;
    transition: .5s;
}

.btn-sec {
    border: 1px solid #fff;
    /* background-color: #fff; */
    color: #fff;
    transition: 0,5s;
}

.btn-sec:hover {
  color: #000;
  background-color: #fff;
}

.image {
    width: 30%;
}
.image img {
    width: 180px;
}

.icons {
    position: relative;
    text-align: center;
    margin-top: 2rem;
}

.icons img {
    width: 40px;
    transition: transform 0.5s;
    cursor: pointer;
}

.icons img:hover {
    transform: scale(1.2);
}

@media (max-width: 500px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .text ,.image {
    width: 60%;
    text-align: center;
  }
  .icons {
    position: relative;
    text-align: center;
  }

  .btn {
    margin-left: .2rem;
  }
}


@media (max-width: 300px) {

  .text ,.image {
    width: 80%;
  }
 .btn {
   margin: 0;
   padding: 5px 8px;
 }

}

