/* Start Global Rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:root {
  --nav-clr: #000;
  --bg-nav-clr: #fff;
}
html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Smole */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Mediume */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */

@media (min-width: 1200) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* header */
body {
  min-height: 100vh;
  width: 100%;
  background-color: #000;
  font-family: "Tajawal", sans-serif;
  /* overflow: hidden; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.logo img {
  width: 35px;
  order: 1;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 867px) {
  .nav-btn {
    margin-left: 0.9rem;
    font-size: 1rem;
    padding: 0.5rem 1.3rem;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
  }
  .nav-btn:hover {
    background-color: #fff;
    color: #000;
  }
}

ul li a:hover {
  background-color: #fff;
  color: #000;
}
/* end header */

/* nav bar */

.bar {
  position: relative;
  font-size: 1rem;
  color: #fff;
}

.bar::before,
.bar::after {
  content: "";
  background-color: #222;
  height: 2px;
  width: 140px;
  position: absolute;
}
.bar::before {
  top: 50%;
  left: 14px;
}
.bar::after {
  top: 50%;
  right: 14px;
}

/* sign */

.sign {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
}

.go,
.fac {
  background-color: var(--bg-nav-clr);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  padding: 0.6rem 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  cursor: pointer;
  display: none;
}
.fac {
  width: 100%;
}
.fac i,
.fac span {
  color: #3b5998;
}

.gg {
  color: #4285f4;
}
.o,
.e {
  color: #ea4335;
}

.l {
  color: #34a853;
}

.oo {
  color: #fbbc05;
}
.go {
  margin: 1.4rem;
}
.go h3 {
  margin-right: 0.4rem;
}

.lg {
  height: 40px;
}

.bar {
  display: none;
}
/* content */

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-top: 2rem;
  position: relative;
}

.text {
  color: #fff;
  width: 40%;
}

.text h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.text p {
  font-size: 18px;
  margin: 20px 0;
}

.btn {
  text-decoration: none;
  color: #fff;
  padding: 8px 15px;
  border-radius: 40px;
  transition: 0.5s;
}

.btn-sec {
  border: 1px solid #fff;
  /* background-color: #fff; */
  color: #fff;
  transition: 0, 5s;
}

.btn-sec:hover {
  color: #000;
  background-color: #fff;
}

.image {
  width: 30%;
}
.image img {
  width: 170px;
}

.icons {
  position: relative;
  text-align: center;
  margin-top: -1.3rem;
}

.icons img {
  width: 35px;
  transition: transform 0.5s;
  cursor: pointer;
}

.icons img:hover {
  transform: scale(1.3);
}

/* media content */

/* min-width of 500px */
@media (min-width: 500px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text,
  .image {
    width: 60%;
    text-align: center;
  }
  .image {
    margin-bottom: 10px;
  }
  .icons {
    position: relative;
    text-align: center;
  }

  .btn {
    margin-left: 0.2rem;
  }
}

/* max widht of 300px */

/* @media (max-width: 350px) {
  .text,
  .image {
    width: 80%;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
} */

/* min width : 301 px */
@media (min-width: 301px) {
  .text,
  .image {
    width: 80%;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .btn-sec {
    font-size: 0.7rem;
  }
}

/* toglle */

.nav {
  position: relative;
  width: 35px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* overflow: hidden; */
  display: none;
}

.nav span {
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--bg-nav-clr);
  border-radius: 4px;
  transition: 0.5s;
}

.nav span:nth-child(1) {
  transform: translateY(-10px);
  width: 25px;
  left: 5px;
}

.active span:nth-child(1) {
  transform: translateY(0) rotate(-45deg);
  transition-delay: 0.125s;
}

.active span:nth-child(3) {
  transform: translateX(60px);
  width: 25px;
}

.nav span:nth-child(2) {
  transform: translateY(10px);
  width: 25px;
  left: 5px;
}

.active span:nth-child(2) {
  transform: translateY(0) rotate(-315deg);
  width: 25px;
  transition-delay: 0.25s;
}

/* max-width of 991px */

@media (max-width: 991px) {
  .nav {
    display: inline-flex;
    overflow: hidden;
    width: 35px;
    height: 30px;
  }
  .nav-btn {
    font-size: 1.4rem;
    color: #000;
    transition: 0.8s;
    display: inline-block;
    margin-bottom: 1rem;
    padding: .5rem 5.5rem;
  }

  .nav-btn:first-child {
    margin-top: 0.8rem;
  }

  .nav-btn:hover {
    background-color: #000;
    color: #fff;
    text-align: center;
    transform: translateY(-6px);
  }
  .sign {
    margin-top: auto;
    margin-bottom: 1rem;
  }

  .text p,
  .text h2 {
    text-align: center;
  }
  .three,
  .one {
    left: 5px;
  }
  .fac,
  .go {
    display: inline-flex;
    padding: 0.6rem 0.9rem;
  }
  .go img,
  .fac img {
    height: 28px;
  }

  .bar {
    display: inline-felx;
  }


  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background-color: var(--bg-nav-clr);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    z-index: 30;
    transform: translateX(100%);
    transition: 1s;
    min-height: 100vh;
  }
  .nav {
    width: 35px;
    height: 30px;
  }
  .nav span {
    width: 30px;
  }
  .nav span:nth-child(1) {
    width: 25px;
  }
  .nav span:nth-child(2) {
    width: 25px;
  }

  .nav span:nth-child(3) {
    width: 25px;
  }

  .active.nav span {
    background-color: var(--nav-clr);
  }

  .logo,
  .nav {
    z-index: 300;
  }
  .open .menu {
    transform: translateX(0);
  }
  .btn-sec {
    margin-left: 0.2rem;
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
  }
  .go,
  .fac {
    transition: 0.5s;
  }
  .go:hover,
  .fac:hover {
    box-shadow: 0 -5px 8px rgba(0, 0, 0, 0.6);
  }
}

@media (max-width: 400px) {
  .nav {
    width: 35px;
    height: 30px;
  }
  .nav span {
    width: 30px;
  }
  .nav span:nth-child(1) {
    width: 25px;
  }
  .nav span:nth-child(2) {
    width: 25px;
  }

  .nav span:nth-child(3) {
    width: 25px;
  }
  .nav-btn {
    font-size: 1.4rem;
    color: #000;
    transition: 0.8s;
    display: inline-block;
    margin-bottom: 1rem;
    padding: .5rem 5.5rem;
  }
  .nav-btn:first-child {
    margin-top: 0.8rem;
  }

  .nav-btn:hover {
    background-color: #000;
    color: #fff;
    text-align: center;
    transform: translateY(-6px);
  }
  .sign {
    margin-top: auto;
    margin-bottom: 1rem;
  }

  .active.nav span {
    background-color: var(--nav-clr);
  }
}

/* media 1010px */

@media (min-width: 1010px) {
  .btn-sec {
    font-size: 1rem;
    text-align: center;
  }
  .nav-btn {
    margin-left: 2rem;
  }
  
}

